/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23/05/2026, 9:57:19 a. m.
    Author     : jdmm0
*/


/*cree este css porque quiero a;adir u hover sobre los botones*/



.menu-boton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-padding: 12 20;
    -fx-cursor: hand;
    -fx-alignment: CENTER;
    -fx-background-radius: 8;
}

.menu-boton:hover {
    -fx-background-color: #1652B9;
}

.menu-boton-salir {
    -fx-background-color: transparent;
    -fx-text-fill: #FFC41C;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-padding: 12 20;
    -fx-cursor: hand;
    -fx-alignment: CENTER_LEFT;
    -fx-background-radius: 8;
}

.menu-boton-salir:hover {
    -fx-background-color: #D2303E;
    -fx-text-fill: white;
}