/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23/05/2026, 9:57:19 a. m.
    Author     : jdmm0
*/


/*cree este css porque quiero a;adir u hover sobre los botones*/


.boton-insertar {
    -fx-background-color: #0F3794;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-cursor: hand;
    -fx-alignment: CENTER;
    -fx-background-radius: 8;
}
.boton-insertar:hover {
    -fx-background-color: #1652B9;
}

.boton-editar {
    -fx-background-color: #E6F1FB;
    -fx-text-fill: #08164B;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-cursor: hand;
    -fx-alignment: CENTER;
    -fx-background-radius: 8;
}
.boton-editar:hover {
    -fx-background-color: #B5D4F4;
}

.boton-eliminar {
    -fx-background-color: #D2303E;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-cursor: hand;
    -fx-alignment: CENTER;
    -fx-background-radius: 8;
}
.boton-eliminar:hover {
    -fx-background-color: #A61E2A;
}

.boton-buscar {
    -fx-background-color: #5A647D;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-cursor: hand;
    -fx-alignment: CENTER;
    -fx-background-radius: 8;
}
.boton-buscar:hover {
    -fx-background-color: #08164B;
}

.menu-boton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-padding: 12 20;
    -fx-cursor: hand;
    -fx-alignment: CENTER;
    -fx-background-radius: 8;
}
.menu-boton:hover {
    -fx-background-color: #1652B9;
}
.menu-boton-salir {
    -fx-background-color: #D2303E;
    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-padding: 12 20;
    -fx-cursor: hand;
    -fx-alignment: CENTER;
    -fx-background-radius: 8;
}
.menu-boton-salir:hover {
    -fx-background-color: #A61E2A;
}